<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar.ejs'); %>
    <div class="container"> <!-- centralizar -->
        <div class="card" id="titulo_formulario">
            <div class="card-header">
                <h1>Área das perguntas</h1>
            </div>
            
            <div class="card-body">
                <hr>
                <form>
                    <label>Título:</label>
                    <input type="text" placeholder="Título" class="form-control">
                    <br>
                    <label>Pergunta:</label>
                    <textarea placeholder="Digite Sua Pergunta" class="form-control"></textarea>
                    <hr>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('partials/footer.ejs'); %>
